/* © Victor Loots, 2022
/*
/* Fonts */

@font-face {
  font-family: 'aganregular';
  src: url('../fonts/agane_55_roman-webfont.eot');
  src: url('../fonts/agane_55_roman-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/agane_55_roman-webfont.woff2') format('woff2'),
    url('../fonts/agane_55_roman-webfont.woff') format('woff'),
    url('../fonts/agane_55_roman-webfont.ttf') format('truetype'),
    url('../fonts/agane_55_roman-webfont.svg#aganregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fiddums_familyregular';
  src: url('../fonts/fiddums_family-webfont.eot');
  src: url('../fonts/fiddums_family-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fiddums_family-webfont.woff2') format('woff2'),
    url('../fonts/fiddums_family-webfont.woff') format('woff'),
    url('../fonts/fiddums_family-webfont.ttf') format('truetype'),
    url('../fonts/fiddums_family-webfont.svg#fiddums_familyregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gothic_ultra_otregular';
  src: url('../fonts/gothic_ultra_ot-webfont.eot');
  src: url('../fonts/gothic_ultra_ot-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gothic_ultra_ot-webfont.woff2') format('woff2'),
    url('../fonts/gothic_ultra_ot-webfont.woff') format('woff'),
    url('../fonts/gothic_ultra_ot-webfont.ttf') format('truetype'),
    url('../fonts/gothic_ultra_ot-webfont.svg#gothic_ultra_otregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
/* Variabelen */
:root {
  --font_titel: "fiddums_familyregular", Georgia, serif;
  --font_subtitel: "gothic_ultra_otregular", Verdana, sans-serif;
  --font-brood: "aganregular", Verdana, sans-serif;
  --kleur_wit: #F8F7F3;
  --kleur_zwart: #170004;
  --kleur_rood: #51000F;
  --kleur_paars: #400030;

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

img {
  display: block;
}


/*
/* Standards */
html {
  font-size: 62.5%;
  /* (62.5/100) * 16px = 10px */
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  color: var(--kleur_zwart);
  background-color: var(--kleur_wit);
  font-family: var(--font-brood);
  font-size: 2rem;
  line-height: 1.5;
}

#nav_icon_closed {
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: calc(50% - 50px);
  width: 100px;
  height: 124px;
  background-color: var(--kleur_paars);
  border-radius: 35px 35px 0 0;
  background-image: url(../img/mansion_icon.png);
  background-position: bottom center;
  background-repeat: no-repeat;
}

#nav_links {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--kleur_paars);

}

.verborgen {
  display: none;
}

#nav_web,
#nav_spider {
  position: absolute;
  background-position: right top;
  background-repeat: no-repeat;
}

#nav_web {
  top: 0;
  right: 0;
  width: 200px;
  height: 177px;
  background-image: url(../img/menu_web.png);
}

#nav_spider {
  top: 171px;
  right: 83.1px;
  width: 43px;
  height: 489px;
  background-image: url(../img/spider.png);
  transition: transform 0.2s linear;
  animation: spin_bewegen 20s linear infinite;
  transform: translateY(-429px);
}

@keyframes spin_bewegen {
  0% {
    transform: translateY(-400px);
  }

  10% {
    transform: translateY(-400px);
  }

  40% {
    transform: translateY(0px);
  }

  60% {
    transform: translateY(0px);
  }

  90% {
    transform: translateY(-400px);
  }

  100% {
    transform: translateY(-400px);
  }

}

#nav_links a {
  display: block;
  width: 250px;
  text-decoration: none;
  font-family: var(--font_subtitel);
  color: var(--kleur_wit);
  padding: 2rem 0 2rem 8rem;
  font-size: 8rem;
}

#nav_links a:first-of-type {
  margin-top: 5rem;
}

#nav_links a:hover,
#nav_icon_openend:hover {
  color: var(--kleur_zwart);

}

#nav_links a:active {
  color: var(--kleur_rood);
}



#nav_icon_openend {
  position: absolute;
  bottom: 0.5rem;
  right: 2rem;
  color: var(--kleur_wit);
  font-family: var(--font_subtitel);
  font-size: 6rem;
  font-weight: 900;
}

#nav_icon_openend:hover,
#nav_icon_closed {
  cursor: pointer;
}

h1 {
  font-family: var(--font_titel);
  word-spacing: 1rem;
  font-size: 8rem;
  font-weight: 500;
  text-align: center;
  padding: 2rem 0;
}

#nacht_kader {
  position: relative;
  width: 100%;
  height: 600px;
  margin-bottom: 250px;
  background-color: var(--kleur_zwart);
  overflow: hidden;
}

#maan {
  position: absolute;
  left: calc(50% - 125px);
  top: calc(50% - 125px);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #F8F9EC;
  box-shadow: 0 0 10px #F8F9EC,
    0 0 60px #F8F9EC,
    0 0 117px #eaf0a9,
    inset 0 0 80px #eaf0a9;
}

.sterren {
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #F8F9EC;
  box-shadow: 1px 1px 10px #F8F9EC
}
@keyframes knipperen {
  0% {
    opacity: 1;
  }

  33% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#mansion_ground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-image: url(../img/mansion_ground.jpeg);
}

#mansion_lights_house {
  position: absolute;
  bottom: 0;
  left: calc(50% - 162px);
  width: 280px;
  height: 196px;
  background-color: black;
}

#mansion_lights_tower {
  position: absolute;
  bottom: 0;
  left: calc(50% - 25px);
  width: 44px;
  height: 287px;
  background-color: black;
}

#mansion {
  position: absolute;
  left: calc(50% - 230px);
  bottom: -22px;
  width: 460px;
  
  height: 384px;
  background-image: url(../img/mansion_mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}

footer {
  display: flex;
  justify-content: space-around;
  font-family: var(--font_subtitel);
  padding: 4rem 0 2rem 0;
}